<h1>Editing Employee: <%= @employee.emp_no %></h1>

<%= form_for :employee, url: employee_path(@employee), method: :patch do |f| %>

    <% if @employee.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@employee.errors.count, "error") %> prohibited
            this employee from being saved:
          </h2>
          <ul>
            <% @employee.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :first_name %><br>
      <%= f.text_field :first_name %>
    </p>

    <p>
      <%= f.label :last_name %><br>
      <%= f.text_field :last_name %>
    </p>

    <p>
      <%= f.label :hire_date %><br>
      <%= f.date_select :hire_date %>
    </p>

    <p>
      <%= f.submit %>
    </p>

<% end %>

<%= link_to 'Back', employees_path %>